<div class="container">
    <div class="row justify-content-center align-items-center w-100 max-h">
        <div class="col-8">
            <div class="text-center">
                <span class="h3 text-primary">
                    Select option for create or list:
                </span>
            </div>
            <div class="mt-4 text-center">
                <a routerLink='/boss' class='btn btn-primary m-2 btn-equal'>Boss</a>
                <a routerLink='/employee' class='btn btn-primary m-2 btn-equal'>Employee</a>
            </div>
        </div>
    </div>
</div>